<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <section style="display: grid; grid-template-columns: 35% 35% 35%;">
      <% prod.forEach(item => { %>
  <div style="background-color: pink; margin: 100px; padding: 30px;">
    <img src="<%= item.image %>">
<p><%=item.name %></p>
<p><%=item.price %></p>
<p><%=item.description %></p>

<form action="/product/my-products" method="post">
<input type="hidden" name="name" value="<%=item.name %>">
<input type="hidden" name="price" value="<%=item.price %>">
<input type="hidden" name="image" value="<%=item.image %>">
<input type="hidden" name="description" value="<%=item.description %>">
<input type="submit" value="add to my cards">

</form>
</div>
<%}); %>

</section>
  </main>
</body>
</html>